* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 129px);
}

.formHeader {
    color: #393433;
    text-transform: uppercase;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
}

.formInput {
    padding: 16px;
    margin: 8px;
    border: none;
    background-color: gray;
    border-radius: 24px;
    width: 250px;
    transition: 0.25s ease;
}

.formInput:hover {
    background-color: rgb(190, 188, 188)
}

.formInput::placeholder {
    color: #F5F5F5;
}

.submit {
    border: none;
    margin-top: 8px;
    padding: 12px 24px;
    border-radius: 24px;
    color: white;
    background-color: #393433;
    opacity: 1;
    transition: 0.25s ease;
}

.submit:hover {
    opacity: 0.6;
}

.route {
    transition: 0.25s ease;
    text-decoration: none;
    color: #393433;
}

.route:hover {
    opacity: 0.6;
}