* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
}

.orderContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    margin: 24px 0px 0px 24px;
}

.orderInfo {
    background-color: lightgray;
    height: 100%;
    max-height: 300px;
    width: calc(100% - 100px);
    padding: 24px;
    margin: 24px;
    box-shadow: 10px 10px 50px -10px rgba(0,0,0,0.69) inset;
    -webkit-box-shadow: 10px 10px 50px -10px rgba(0,0,0,0.69) inset;
    -moz-box-shadow: 10px 10px 50px -10px rgba(0,0,0,0.69) inset;
    border-radius: 24px;
}

.orderInfoTop {
    display: flex;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
}

.info h3 {
    font-weight: 400;
}

.productInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-top: 1px solid black;
}

.img {
    width: 25%;
    height: 50%;
    border-radius: 16px;
    object-fit: cover;
}

.shipping {
    font-weight: 700;
}

.dropbtn {
    color: darkred;
    font-weight: 700;
    cursor: pointer;
}

.dropbtn:hover {
    text-decoration: underline;
    color: darkcyan;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    padding: 8px;
    border-radius: 8px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdownContent {display: block;}

.infoSubheading {
    text-transform: uppercase;
    font-weight: 700 !important;
}