* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #393433;
    border-radius: 16px;
    margin: 32px;
    padding: 32px;
    width: 400px;
    height: 600px;
    box-shadow: 10px 10px 50px -10px rgba(0,0,0,0.69);
    -webkit-box-shadow: 10px 10px 50px -10px rgba(0,0,0,0.69);
    -moz-box-shadow: 10px 10px 50px -10px rgba(0,0,0,0.69);
}

.formContainer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    padding: 8px 24px;
    background-color: grey;
    border: none;
    border-radius: 8px;
    color: #F5F5F5;
    cursor: pointer;
    font-weight: bold;
    margin: 8px 0px;
    opacity: 1;
    transition: 0.5s ease;
}

.btn:hover {
    opacity: 0.6;
}

.formInput {
    padding: 16px;
    border: none;
    margin: 8px 0px;
    border-radius: 8px;
}
