* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
}