* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    margin: 24px;
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #393433;
    border-radius: 24px;
}

.deleteBtn {
    padding: 8px 24px;
    background-color: #b22a2e;
    border: none;
    border-radius: 8px;
    color: #F5F5F5;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    margin: 8px 8px;
    opacity: 1;
    transition: 0.5s ease;
    text-shadow: 3px 3px 3px black;
}

.deleteBtn:hover {
    opacity: 0.6;
}

.product {
    padding: 4px;
    text-decoration: none;
    font-weight: lighter;
}

.title {
    color: #393433;;
    font-weight: bolder;
    opacity: 1;
    transition: 0.5s ease;
}

.title:hover {
    opacity: 0.6
}

.link {
    text-decoration: none;
    transition: 0.25s ease;
}

.link:hover {
    opacity: 0.7;
}

.img {
    height: 100%;
    width: 100%;
    border-radius: 24px;
    box-shadow: 10px 10px 50px -10px rgba(0,0,0,0.69);
    -webkit-box-shadow: 10px 10px 50px -10px rgba(0,0,0,0.69);
    -moz-box-shadow: 10px 10px 50px -10px rgba(0,0,0,0.69);
    object-fit: cover;
}