@import '../variables/Variables.scss';

* {
    margin: 0;
    padding: 0;
    font-family: $font;
}

.OrdersMainContainer {
    display: flex;
}

.OrdersContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.OrdersHeader {
    margin: 24px 0px 0px 24px;
}

.OrderInfoContainer {
    background-color: $whiteColor;
    height: 100%;
    max-height: 300px;
    width: calc(100% - 100px);
    padding: 24px;
    margin: 24px;
    box-shadow: 10px 10px 50px -10px $darkBlue;
    -webkit-box-shadow: 10px 10px 50px -10px $darkBlue;
    -moz-box-shadow: 10px 10px 50px -10px $darkBlue;
    border-radius: 24px;
}

.OrderInfoTop {
    display: flex;
    justify-content: space-between;
}

.OrderInfo {
    display: flex;
    flex-direction: column;

    h3 {
        font-weight: 400;
    }
}

.OrderProductInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-top: 1px solid $blackColor;
}

.OrderImg {
    width: 25%;
    height: 50%;
    border-radius: 16px;
    object-fit: cover;
}


.OrderDropBtn {
    color: $darkBlue;
    font-weight: 700;
    cursor: pointer;
}

.OrderDropBtn:hover {
    text-decoration: underline;
    color: $darkBlue;
}

.OrderDropDown {
    position: relative;
    display: inline-block;
}

.OrderDropDownContent {
    display: none;
    position: absolute;
    background-color: $whiteColor;
    padding: 8px;
    border-radius: 8px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px $darkBlue;
    z-index: 1;
}

.OrderDropDown:hover .OrderDropDownContent {
    display: block;
}

.OrderInfoSubheading {
    text-transform: uppercase;
    font-weight: 700 !important;
}