@import '../variables/Variables.scss';

* {
    margin: 0;
    padding: 0;
    font-family: $font;
}

.ProfileSideNavContainer {
    background-color: $darkBlue;
    min-width: 300px;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.ProfileSideNavLinks {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.ProfileSideNavLink {
    font-size: large;
    margin: 8px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color: $whiteColor;
    text-shadow: 3px 3px 3px $blackColor;
    opacity: 1;
    transition: 0.5s ease;
    display: flex;
    align-items: center;
}

.ProfileSideNavLink:hover {
    opacity: 0.6;
}

.ProfileSideNavIcons  {
    width: 32px;
    padding-right: 4px;
}