// font
$font: 'Montserrat', sans-serif;

// colors
$whiteColor: white;
$blackColor: #000;
$redColor: #4f1b1d;
$darkGray: #5D5C61;
$lightGray: #938e94;
$lightBlue: #7395ae;
$darkBlue: #557a95;
$beige: #b0a295;